@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.questrial {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  max-width: 1920px;
}

/* Styling header */
header {
  background: url("images/Rectangle\ 23824.png") top left no-repeat;
  min-height: 100vh;
}

/* Styling the navbar starts */
nav {
  min-height: 108px;
  padding: 10px 20px;
  font-weight: 600;
}

nav ul li a {
  font-size: 14px !important;
  color: #020407 !important;
  padding: 0 !important;
  margin-right: 16.5px !important;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #024cc3 !important;
}

nav button.btn {
  border: 1px solid #010205 !important;
  padding: 13px 16px !important;
  transition: 0.3s ease;
}

nav button.btn:hover {
  background-color: #010205;
  color: #fff;
}

.navbar-brand {
  margin-right: 74px;
}

.logo {
  width: 238.5px;
  height: 48;
}
/* Styling navbar ends */

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
}
